 .u-section-1 {
  background-image: linear-gradient(#ffc344, white);
}

.u-section-1 .u-sheet-1 {
  min-height: 450px;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  width: 721px;
  margin: 25px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.875rem;
  margin: 49px 30px 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 543px;
  }

  .u-section-1 .u-text-2 {
    width: 652px;
    margin-top: 36px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 669px;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.5rem;
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 118px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 459px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-top: 60px;
    margin-right: -16px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.25rem;
    margin-top: 67px;
  }
} .u-section-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.65), rgba(0,0,0,0.65)), url('images/4c3043a6a142985e1b75d1efebd6e5a2b5438bf28128b1485095a1166f5c02425ed3f03929d300930b1dc637f0dd534c3ab33583722b0ff12b7eac_1280.jpg');
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 686px;
}

.u-section-2 .u-text-1 {
  font-size: 1.875rem;
  width: 826px;
  margin: 127px auto 0;
}

.u-section-2 .u-text-2 {
  margin: 84px 0 20px 723px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 566px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 523px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 434px;
  }

  .u-section-2 .u-text-1 {
    width: 720px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 303px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1117px;
  }

  .u-section-2 .u-text-1 {
    width: 540px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin: 72px -85px 32px 208px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 703px;
  }

  .u-section-2 .u-text-1 {
    width: 340px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 887px;
}

.u-section-3 .u-slider-1 {
  min-height: 822px;
  width: 763px;
  height: auto;
  margin: 25px auto 40px;
}

.u-section-3 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-3 .u-image-1 {
  width: 85px;
  height: 125px;
  margin: 0 auto 0 94px;
}

.u-section-3 .u-image-2 {
  width: 85px;
  height: 125px;
  margin: -125px 94px 0 auto;
}

.u-section-3 .u-image-3 {
  width: 85px;
  height: 125px;
  margin: -125px auto 0;
}

.u-section-3 .u-text-1 {
  margin: -125px 713px 0 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.25rem;
  width: 603px;
  margin: 195px auto 0;
}

.u-section-3 .u-image-4 {
  width: 140px;
  height: 98px;
  margin: 56px auto 0 305px;
}

.u-section-3 .u-container-layout-2 {
  padding: 0;
}

.u-section-3 .u-text-3 {
  margin: 30px 713px 0 0;
}

.u-section-3 .u-image-5 {
  width: 132px;
  height: 213px;
  margin: -56px auto 0 84px;
}

.u-section-3 .u-image-6 {
  width: 132px;
  height: 213px;
  margin: -213px auto 0 300px;
}

.u-section-3 .u-image-7 {
  width: 132px;
  height: 213px;
  margin: -213px 112px 0 auto;
}

.u-section-3 .u-text-4 {
  font-size: 1.25rem;
  width: 539px;
  margin: 50px auto 0;
}

.u-section-3 .u-image-8 {
  width: 143px;
  height: 106px;
  margin: 42px auto 0;
}

.u-section-3 .u-container-layout-3 {
  padding: 16px 0;
}

.u-section-3 .u-image-9 {
  width: 85px;
  height: 125px;
  margin: 14px auto 0 39px;
}

.u-section-3 .u-text-5 {
  margin: -128px 704px 0 -32px;
}

.u-section-3 .u-image-10 {
  width: 85px;
  height: 125px;
  margin: -22px 61px 0 auto;
}

.u-section-3 .u-image-11 {
  width: 85px;
  height: 125px;
  margin: -125px auto 0 328px;
}

.u-section-3 .u-text-6 {
  font-size: 1.25rem;
  margin: 219px 50px 0;
}

.u-section-3 .u-image-12 {
  width: 140px;
  height: 98px;
  margin: 77px auto 0;
}

.u-section-3 .u-text-7 {
  width: auto;
  margin: -950px 146px 0 -146px;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px 0;
}

.u-section-3 .u-text-8 {
  margin: 13px 688px 0 13px;
}

.u-section-3 .u-image-13 {
  width: 132px;
  height: 213px;
  margin: 1px auto 0 100px;
}

.u-section-3 .u-image-14 {
  width: 132px;
  height: 213px;
  margin: -213px auto 0;
}

.u-section-3 .u-image-15 {
  width: 132px;
  height: 213px;
  margin: -213px 84px 0 auto;
}

.u-section-3 .u-text-9 {
  font-size: 1.25rem;
  width: 539px;
  margin: 13px auto 0;
}

.u-section-3 .u-image-16 {
  width: 143px;
  height: 106px;
  margin: 33px auto 0;
}

.u-section-3 .u-carousel-control-1 {
  width: 43px;
  height: 43px;
  background-image: none;
}

.u-section-3 .u-carousel-control-2 {
  width: 43px;
  height: 43px;
  background-image: none;
  left: auto;
  position: absolute;
  right: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    width: auto;
    margin-right: 606px;
    margin-left: -93px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-top: 28px;
    margin-right: 598px;
    margin-left: -85px;
  }

  .u-section-3 .u-image-5 {
    margin-top: -53px;
    margin-left: 95px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 604px;
  }

  .u-section-3 .u-text-6 {
    width: auto;
    margin-left: 39px;
    margin-right: 39px;
  }

  .u-section-3 .u-text-8 {
    margin-right: 501px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-slider-1 {
    width: 720px;
  }

  .u-section-3 .u-image-1 {
    margin-left: 159px;
  }

  .u-section-3 .u-image-2 {
    margin-right: 159px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 561px;
    margin-left: -28px;
  }

  .u-section-3 .u-image-4 {
    margin-top: 40px;
    margin-left: auto;
  }

  .u-section-3 .u-text-3 {
    margin-right: 553px;
    margin-left: -20px;
  }

  .u-section-3 .u-image-5 {
    margin-top: -45px;
    margin-left: 143px;
  }

  .u-section-3 .u-text-5 {
    width: auto;
    margin-top: -125px;
    margin-right: 563px;
    margin-left: -101px;
  }

  .u-section-3 .u-image-10 {
    margin-top: -25px;
  }

  .u-section-3 .u-text-6 {
    margin-right: 61px;
    margin-left: 69px;
  }

  .u-section-3 .u-text-8 {
    width: auto;
    margin-right: 256px;
    margin-left: 25px;
  }

  .u-section-3 .u-image-13 {
    margin-top: 2px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 942px;
  }

  .u-section-3 .u-slider-1 {
    min-height: 892px;
    margin-bottom: 25px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-image-1 {
    margin-top: 41px;
    margin-left: 96px;
  }

  .u-section-3 .u-image-2 {
    margin-right: auto;
  }

  .u-section-3 .u-image-3 {
    margin-top: -127px;
    margin-left: 359px;
  }

  .u-section-3 .u-text-1 {
    margin-top: -126px;
    margin-right: 491px;
    margin-left: 7px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 141px;
    margin-right: 38px;
    margin-left: 54px;
  }

  .u-section-3 .u-image-4 {
    margin-top: 83px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 458px;
    margin-left: 40px;
  }

  .u-section-3 .u-image-5 {
    margin-left: 54px;
  }

  .u-section-3 .u-image-6 {
    margin-right: 66px;
    margin-left: auto;
  }

  .u-section-3 .u-image-7 {
    margin-right: auto;
    margin-left: 194px;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-top: 16px;
    margin-right: 59px;
    margin-left: 40px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-3 .u-image-9 {
    margin-top: 41px;
    margin-left: 67px;
  }

  .u-section-3 .u-text-5 {
    margin-top: -138px;
    margin-right: 431px;
    margin-left: -59px;
  }

  .u-section-3 .u-image-10 {
    margin-top: -12px;
  }

  .u-section-3 .u-image-11 {
    margin-right: 223px;
    margin-left: auto;
  }

  .u-section-3 .u-text-6 {
    margin-top: 185px;
    margin-left: 43px;
    margin-right: 43px;
  }

  .u-section-3 .u-image-12 {
    margin-top: 101px;
  }

  .u-section-3 .u-text-8 {
    margin-right: 75px;
    margin-left: 26px;
  }

  .u-section-3 .u-image-13 {
    margin-top: -26px;
    margin-left: 92px;
  }

  .u-section-3 .u-image-14 {
    margin-left: 196px;
  }

  .u-section-3 .u-image-15 {
    margin-right: auto;
    margin-left: 316px;
  }

  .u-section-3 .u-text-9 {
    width: auto;
    margin-top: 12px;
    margin-left: 47px;
    margin-right: 47px;
  }

  .u-section-3 .u-image-16 {
    margin-top: 61px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1358px;
  }

  .u-section-3 .u-slider-1 {
    min-height: 1111px;
    margin-top: 13px;
    margin-bottom: 60px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-1 {
    margin-left: 51px;
  }

  .u-section-3 .u-image-2 {
    margin-right: 119px;
  }

  .u-section-3 .u-image-3 {
    margin-top: -125px;
    margin-right: 28px;
    margin-left: auto;
  }

  .u-section-3 .u-text-1 {
    margin-right: 306px;
    margin-left: 0;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.125rem;
    width: 272px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-image-4 {
    margin-top: 42px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 298px;
    margin-left: 0;
  }

  .u-section-3 .u-image-5 {
    margin-top: -31px;
    margin-left: 10px;
  }

  .u-section-3 .u-image-6 {
    margin-right: auto;
  }

  .u-section-3 .u-image-7 {
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-3 .u-text-4 {
    font-size: 1.125rem;
    width: 270px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-image-8 {
    margin-top: 43px;
  }

  .u-section-3 .u-image-9 {
    margin-top: 58px;
    margin-left: 128px;
  }

  .u-section-3 .u-text-5 {
    margin-top: -171px;
    margin-right: 331px;
  }

  .u-section-3 .u-image-10 {
    margin-top: 20px;
    margin-right: 42px;
  }

  .u-section-3 .u-image-11 {
    margin-right: 204px;
  }

  .u-section-3 .u-text-6 {
    width: 256px;
    margin-top: 153px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-8 {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-image-13 {
    margin-left: 0;
  }

  .u-section-3 .u-image-14 {
    margin-left: auto;
  }

  .u-section-3 .u-image-15 {
    margin-right: 13px;
    margin-left: auto;
  }

  .u-section-3 .u-text-9 {
    width: 253px;
    margin-top: 41px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-image-16 {
    margin-top: 60px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 1222px;
}

.u-section-4 .u-text-1 {
  width: 793px;
  margin: 54px auto 0;
}

.u-section-4 .u-gallery-1 {
  width: 911px;
  height: 623px;
  grid-gap: 10px;
  margin: 75px 102px 0 auto;
}

.u-section-4 .u-carousel-indicators-1 {
  position: absolute;
  width: auto;
  height: auto;
  top: auto;
  bottom: -32px;
}

.u-section-4 .u-back-image-1 {
  object-position: 61.54% 50%;
}

.u-section-4 .u-over-slide-1 {
  min-height: 100px;
  width: 689px;
  height: 120px;
  padding: 10px;
}

.u-section-4 .u-back-image-2 {
  object-position: 82.31% 50%;
}

.u-section-4 .u-over-slide-2 {
  min-height: 100px;
  width: 689px;
  height: 120px;
  padding: 10px;
}

.u-section-4 .u-carousel-item-3 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-back-image-3 {
  object-position: 50.09% 40.57%;
}

.u-section-4 .u-over-slide-3 {
  min-height: 100px;
  width: 689px;
  height: 120px;
  padding: 10px;
}

.u-section-4 .u-carousel-item-4 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-back-image-4 {
  object-position: 67.6% 50%;
}

.u-section-4 .u-over-slide-4 {
  min-height: 100px;
  width: 689px;
  height: 120px;
  padding: 10px;
}

.u-section-4 .u-carousel-item-5 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-back-image-5 {
  object-position: 74% 50%;
}

.u-section-4 .u-over-slide-5 {
  min-height: 100px;
  width: 689px;
  height: 120px;
  padding: 10px;
}

.u-section-4 .u-carousel-item-6 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-back-image-6 {
  object-position: 22.66% 50%;
}

.u-section-4 .u-over-slide-6 {
  min-height: 100px;
  width: 689px;
  height: 120px;
  padding: 10px;
}

.u-section-4 .u-carousel-item-7 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-back-image-7 {
  object-position: 22.66% 50%;
}

.u-section-4 .u-over-slide-7 {
  min-height: 100px;
  width: 689px;
  height: 120px;
  padding: 10px;
}

.u-section-4 .u-carousel-item-8 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-back-image-8 {
  object-position: 100% 50%;
}

.u-section-4 .u-over-slide-8 {
  min-height: 100px;
  width: 689px;
  height: 120px;
  padding: 10px;
}

.u-section-4 .u-back-image-9 {
  object-position: 50.96% 50%;
}

.u-section-4 .u-over-slide-9 {
  min-height: 100px;
  width: 689px;
  height: 120px;
  padding: 10px;
}

.u-section-4 .u-back-image-10 {
  object-position: 61.54% 34.65%;
}

.u-section-4 .u-over-slide-10 {
  min-height: 100px;
  width: 689px;
  height: 120px;
  padding: 10px;
}

.u-section-4 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-4 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-4 .u-shape-1 {
  width: 366px;
  height: 531px;
  margin: -895px auto 0 46px;
}

.u-section-4 .u-shape-2 {
  width: 366px;
  height: 531px;
  transform-origin: center center;
  transform: scaleX(-1);
  margin: -531px 53px 0 auto;
}

.u-section-4 .u-shape-3 {
  width: 366px;
  height: 531px;
  transform-origin: center center;
  transform: scaleY(-1);
  margin: 53px auto 0 46px;
}

.u-section-4 .u-shape-4 {
  width: 366px;
  height: 531px;
  transform-origin: center center;
  transform: scaleX(-1) scaleY(-1);
  margin: -531px 53px -37px auto;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    margin-top: 145px;
  }

  .u-section-4 .u-gallery-1 {
    width: 788px;
    height: 581px;
    margin-right: auto;
    margin-left: 73px;
  }

  .u-section-4 .u-shape-1 {
    margin-top: -853px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1237px;
  }

  .u-section-4 .u-text-1 {
    width: 566px;
    margin-top: 190px;
  }

  .u-section-4 .u-gallery-1 {
    width: 574px;
    height: 553px;
    margin-top: 29px;
    margin-left: 69px;
  }

  .u-section-4 .u-shape-1 {
    margin-top: -824px;
  }

  .u-section-4 .u-shape-3 {
    margin-top: -13px;
  }

  .u-section-4 .u-shape-4 {
    margin-bottom: 29px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1156px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 110px;
    margin-right: 82px;
    margin-left: 60px;
  }

  .u-section-4 .u-gallery-1 {
    width: 434px;
    height: 539px;
    margin-top: 82px;
    margin-left: auto;
  }

  .u-section-4 .u-over-slide-1 {
    width: 540px;
  }

  .u-section-4 .u-over-slide-2 {
    width: 540px;
  }

  .u-section-4 .u-over-slide-3 {
    width: 540px;
  }

  .u-section-4 .u-over-slide-4 {
    width: 540px;
  }

  .u-section-4 .u-over-slide-5 {
    width: 540px;
  }

  .u-section-4 .u-over-slide-6 {
    width: 540px;
  }

  .u-section-4 .u-over-slide-7 {
    width: 540px;
  }

  .u-section-4 .u-over-slide-8 {
    width: 540px;
  }

  .u-section-4 .u-over-slide-9 {
    width: 540px;
  }

  .u-section-4 .u-over-slide-10 {
    width: 540px;
  }

  .u-section-4 .u-shape-1 {
    margin-top: -864px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-gallery-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-over-slide-1 {
    width: 340px;
  }

  .u-section-4 .u-over-slide-2 {
    width: 340px;
  }

  .u-section-4 .u-over-slide-3 {
    width: 340px;
  }

  .u-section-4 .u-over-slide-4 {
    width: 340px;
  }

  .u-section-4 .u-over-slide-5 {
    width: 340px;
  }

  .u-section-4 .u-over-slide-6 {
    width: 340px;
  }

  .u-section-4 .u-over-slide-7 {
    width: 340px;
  }

  .u-section-4 .u-back-image-8 {
    object-position: 54.3% 50%;
  }

  .u-section-4 .u-over-slide-8 {
    width: 340px;
  }

  .u-section-4 .u-over-slide-9 {
    width: 340px;
  }

  .u-section-4 .u-over-slide-10 {
    width: 340px;
  }

  .u-section-4 .u-shape-1 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-4 .u-shape-2 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-4 .u-shape-3 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-4 .u-shape-4 {
    width: 340px;
    margin-right: 0;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 805px;
}

.u-section-5 .u-text-1 {
  line-height: 1.8;
  font-size: 1.25rem;
  width: 872px;
  margin: 60px auto 59px;
}

@media (max-width: 991px) {
   .u-section-5 {
    background-position: 50% 50%;
  }

  .u-section-5 .u-text-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    width: 340px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 379px;
}

.u-section-6 .u-text-1 {
  margin: 60px auto 0;
}

.u-section-6 .u-text-2 {
  line-height: 1.8;
  font-size: 1.25rem;
  font-weight: 700;
  width: 680px;
  margin: 55px auto 54px;
}

@media (max-width: 767px) {
  .u-section-6 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-text-2 {
    width: 340px;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 1629px;
}

.u-section-7 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  width: 1061px;
  margin: 64px auto 0;
}

.u-section-7 .u-repeater-1 {
  grid-template-columns: repeat(3, 33.3333%);
  min-height: 843px;
  grid-gap: 0px;
}

.u-section-7 .u-container-layout-1 {
  padding: 0;
}

.u-section-7 .u-image-1 {
  height: 350px;
  width: 335px;
  object-position: 82.96% 50%;
  margin: 0 auto;
}

.u-section-7 .u-text-1 {
  margin: 43px auto 0;
}

.u-section-7 .u-text-2 {
  margin: 36px 20px 0 40px;
}

.u-section-7 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: solid;
  text-transform: uppercase;
  margin: 39px auto 0;
  padding: 2px 0;
}

.u-section-7 .u-icon-1 {
  font-size: 2.8572em;
}

.u-section-7 .u-btn-2 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: solid;
  text-transform: uppercase;
  margin: 30px auto 0;
  padding: 2px 0;
}

.u-section-7 .u-container-layout-2 {
  padding: 0;
}

.u-section-7 .u-image-2 {
  height: 350px;
  width: 335px;
  margin: 0 auto;
}

.u-section-7 .u-text-3 {
  margin: 43px auto 0;
}

.u-section-7 .u-text-4 {
  margin: 36px 20px 0 40px;
}

.u-section-7 .u-btn-3 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: solid;
  text-transform: uppercase;
  margin: 39px auto 0;
  padding: 2px 0;
}

.u-section-7 .u-icon-2 {
  font-size: 2.8572em;
}

.u-section-7 .u-btn-4 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: solid;
  text-transform: uppercase;
  margin: 30px auto 0;
  padding: 2px 0;
}

.u-section-7 .u-icon-3 {
  font-size: 2.8572em;
}

.u-section-7 .u-container-layout-3 {
  padding: 0;
}

.u-section-7 .u-image-3 {
  height: 350px;
  object-position: 100% 50%;
  width: 335px;
  margin: 0 auto;
}

.u-section-7 .u-text-5 {
  margin: 43px auto 0;
}

.u-section-7 .u-text-6 {
  margin: 36px 20px 0 40px;
}

.u-section-7 .u-btn-5 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: solid;
  text-transform: uppercase;
  margin: 39px auto 0;
  padding: 2px 0;
}

.u-section-7 .u-icon-4 {
  font-size: 2.8572em;
}

.u-section-7 .u-btn-6 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: solid;
  text-transform: uppercase;
  margin: 30px auto 0;
  padding: 2px 0;
}

.u-section-7 .u-icon-5 {
  font-size: 2.8572em;
}

.u-section-7 .u-list-2 {
  grid-template-rows: repeat(1, auto);
  width: 708px;
  margin: 0 auto 57px;
}

.u-section-7 .u-repeater-2 {
  grid-template-columns: repeat(2, 50%);
  min-height: 665px;
  grid-gap: 0px;
}

.u-section-7 .u-container-layout-4 {
  padding: 0;
}

.u-section-7 .u-image-4 {
  height: 362px;
  width: 335px;
  margin: 30px auto 0;
}

.u-section-7 .u-text-7 {
  margin: 13px auto 0 97px;
}

.u-section-7 .u-text-8 {
  margin: 18px 24px 0 36px;
}

.u-section-7 .u-btn-7 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: solid;
  text-transform: uppercase;
  margin: 13px auto 0;
  padding: 2px 0;
}

.u-section-7 .u-icon-6 {
  font-size: 2.8572em;
}

.u-section-7 .u-container-layout-5 {
  padding: 0;
}

.u-section-7 .u-image-5 {
  height: 362px;
  width: 335px;
  margin: 30px auto 0;
}

.u-section-7 .u-text-9 {
  margin: 13px auto 0 97px;
}

.u-section-7 .u-text-10 {
  margin: 18px 24px 0 36px;
}

.u-section-7 .u-btn-8 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: solid;
  text-transform: uppercase;
  margin: 13px auto 0;
  padding: 2px 0;
}

.u-section-7 .u-icon-7 {
  font-size: 2.8572em;
}

@media (max-width: 1199px) {
  .u-section-7 .u-list-1 {
    width: 940px;
  }

  .u-section-7 .u-repeater-1 {
    min-height: 747px;
  }

  .u-section-7 .u-image-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-7 .u-image-2 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-7 .u-image-3 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-text-6 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-list-1 {
    width: 720px;
  }

  .u-section-7 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
    min-height: 1717px;
  }

  .u-section-7 .u-image-1 {
    height: 402px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-image-2 {
    height: 402px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-image-3 {
    height: 402px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-repeater-2 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-list-1 {
    width: 540px;
  }

  .u-section-7 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-7 .u-image-1 {
    height: 603px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-image-2 {
    height: 603px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-image-3 {
    height: 603px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-list-2 {
    width: 540px;
  }

  .u-section-7 .u-text-8 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-7 .u-text-10 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-list-1 {
    width: 340px;
  }

  .u-section-7 .u-image-1 {
    height: 380px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-image-2 {
    height: 380px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-image-3 {
    height: 380px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-list-2 {
    width: 340px;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 837px;
}

.u-section-8 .u-text-1 {
  line-height: 1.8;
  font-size: 1.25rem;
  font-weight: 700;
  width: 618px;
  margin: 33px auto 0;
}

.u-section-8 .u-video-1 {
  height: 564px;
  width: 890px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 41px auto 55px;
}

.u-section-8 .embed-responsive-1 {
  position: absolute;
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 729px;
  }

  .u-section-8 .u-video-1 {
    height: 456px;
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 615px;
  }

  .u-section-8 .u-text-1 {
    width: 540px;
  }

  .u-section-8 .u-video-1 {
    height: 342px;
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 488px;
  }

  .u-section-8 .u-text-1 {
    width: 340px;
  }

  .u-section-8 .u-video-1 {
    height: 215px;
    width: 340px;
  }
}.u-block-d508-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-d508-3 {
  position: absolute;
  left: 0;
}

.u-block-d508-4 {
  position: absolute;
  right: 0;
}

 .u-section-9-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.65), rgba(0,0,0,0.65)), url('images/dad6bd91b2f1dbe3c37d3e26d9d25ad07e95aa683db3db6e51f372dfb97ef036ea5553db04e0995220e62de7cdfd449abdfd9ac34dd2aa8072d562_1280.jpg');
  background-position: 50% 50%;
}

.u-section-9-1 .u-sheet-1 {
  min-height: 823px;
}

.u-section-9-1 .u-text-1 {
  font-size: 4.5rem;
  margin: 311px 55px 0 108px;
}

.u-section-9-1 .u-text-2 {
  margin: 300px -302px 31px 466px;
}

@media (max-width: 1199px) {
  .u-section-9-1 .u-sheet-1 {
    min-height: 679px;
  }

  .u-section-9-1 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-9-1 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-9-1 .u-sheet-1 {
    min-height: 520px;
  }
}

@media (max-width: 767px) {
  .u-section-9-1 .u-sheet-1 {
    min-height: 390px;
  }

  .u-section-9-1 .u-text-1 {
    font-size: 3.75rem;
  }
}

@media (max-width: 575px) {
  .u-section-9-1 .u-sheet-1 {
    min-height: 246px;
  }

  .u-section-9-1 .u-text-1 {
    font-size: 3rem;
  }
}

 .u-section-9-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url('images/CapturadePantalla2023-11-28alas9.43.02p.m..png');
  background-position: 50% 50%;
}

.u-section-9-2 .u-sheet-1 {
  min-height: 823px;
}

.u-section-9-2 .u-text-1 {
  font-size: 2.25rem;
  margin: 60px 44px;
}

@media (max-width: 1199px) {
  .u-section-9-2 .u-sheet-1 {
    min-height: 679px;
  }

  .u-section-9-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-9-2 .u-sheet-1 {
    min-height: 520px;
  }
}

@media (max-width: 767px) {
  .u-section-9-2 .u-sheet-1 {
    min-height: 390px;
  }
}

@media (max-width: 575px) {
  .u-section-9-2 .u-sheet-1 {
    min-height: 246px;
  }
}

 .u-section-9-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.65), rgba(0,0,0,0.65)), url('images/CapturadePantalla2023-11-27alas11.00.25p.m..png');
  background-position: 50% 50%;
}

.u-section-9-3 .u-sheet-1 {
  min-height: 823px;
}

.u-section-9-3 .u-text-1 {
  font-size: 2.25rem;
  margin: 60px 66px 60px 90px;
}

@media (max-width: 1199px) {
  .u-section-9-3 .u-sheet-1 {
    min-height: 679px;
  }

  .u-section-9-3 .u-text-1 {
    margin-top: 211px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-9-3 .u-sheet-1 {
    min-height: 520px;
  }

  .u-section-9-3 .u-text-1 {
    width: auto;
    margin-top: 133px;
  }
}

@media (max-width: 767px) {
  .u-section-9-3 .u-sheet-1 {
    min-height: 390px;
  }
}

@media (max-width: 575px) {
  .u-section-9-3 .u-sheet-1 {
    min-height: 246px;
  }
}

 .u-section-9-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.65), rgba(0,0,0,0.65)), url('images/CapturadePantalla2023-11-27alas11.05.20p.m..png');
  background-position: 50% 50%;
}

.u-section-9-4 .u-sheet-1 {
  min-height: 823px;
}

.u-section-9-4 .u-text-1 {
  font-size: 2.25rem;
  margin: 60px 44px;
}

@media (max-width: 1199px) {
  .u-section-9-4 .u-sheet-1 {
    min-height: 679px;
  }

  .u-section-9-4 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-9-4 .u-sheet-1 {
    min-height: 520px;
  }
}

@media (max-width: 767px) {
  .u-section-9-4 .u-sheet-1 {
    min-height: 390px;
  }
}

@media (max-width: 575px) {
  .u-section-9-4 .u-sheet-1 {
    min-height: 246px;
  }
}

 .u-section-9-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.65), rgba(0,0,0,0.65)), url('images/CapturadePantalla2023-11-28alas9.43.26p.m..png');
  background-position: 50% 50%;
}

.u-section-9-5 .u-sheet-1 {
  min-height: 823px;
}

.u-section-9-5 .u-text-1 {
  font-size: 2.25rem;
  margin: 60px 44px 0;
}

@media (max-width: 1199px) {
  .u-section-9-5 .u-sheet-1 {
    min-height: 679px;
  }

  .u-section-9-5 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 60px;
  }
}

@media (max-width: 991px) {
  .u-section-9-5 .u-sheet-1 {
    min-height: 520px;
  }
}

@media (max-width: 767px) {
  .u-section-9-5 .u-sheet-1 {
    min-height: 390px;
  }
}

@media (max-width: 575px) {
  .u-section-9-5 .u-sheet-1 {
    min-height: 246px;
  }
}

 .u-section-9-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.65), rgba(0,0,0,0.65)), url('images/CapturadePantalla2023-11-27alas11.35.50p.m..png');
  background-position: 50% 50%;
}

.u-section-9-6 .u-sheet-1 {
  min-height: 823px;
}

.u-section-9-6 .u-text-1 {
  font-size: 2.25rem;
  margin: 60px 44px;
}

@media (max-width: 1199px) {
  .u-section-9-6 .u-sheet-1 {
    min-height: 679px;
  }

  .u-section-9-6 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-9-6 .u-sheet-1 {
    min-height: 520px;
  }
}

@media (max-width: 767px) {
  .u-section-9-6 .u-sheet-1 {
    min-height: 390px;
  }
}

@media (max-width: 575px) {
  .u-section-9-6 .u-sheet-1 {
    min-height: 246px;
  }
}.u-section-10 .u-sheet-1 {
  min-height: 557px;
}

.u-section-10 .u-text-1 {
  margin: 60px auto 0;
}

.u-section-10 .u-text-2 {
  line-height: 1.8;
  font-size: 1.25rem;
  width: 820px;
  margin: 60px auto;
}

@media (max-width: 991px) {
  .u-section-10 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-text-2 {
    width: 340px;
  }
} .u-section-11 {
  background-image: none;
}

.u-section-11 .u-sheet-1 {
  min-height: 530px;
}

.u-section-11 .u-text-1 {
  font-size: 3rem;
  margin: 40px 232px 0 262px;
}

.u-section-11 .u-text-2 {
  margin: 20px 262px 0 232px;
}

.u-section-11 .u-btn-1 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  font-size: 2.25rem;
  background-image: none;
  margin: 66px auto 0 139px;
  padding: 19px 65px 21px 64px;
}

.u-section-11 .u-btn-2 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 2.25rem;
  font-weight: 700;
  background-image: none;
  margin: -97px auto 0;
  padding: 19px 68px 21px 67px;
}

.u-section-11 .u-btn-3 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  font-size: 1.875rem;
  background-image: none;
  margin: -96px auto 0 750px;
  padding: 0 7px;
}

.u-section-11 .u-btn-4 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 2.25rem;
  font-weight: 700;
  background-image: none;
  margin: 25px auto 0 139px;
  padding: 19px 64px 21px 63px;
}

.u-section-11 .u-btn-5 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 2.25rem;
  font-weight: 700;
  background-image: none;
  margin: -97px auto 0;
  padding: 19px 15px 21px;
}

.u-section-11 .u-btn-6 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  font-size: 1.875rem;
  background-image: none;
  margin: -97px auto 60px 750px;
  padding: 0 30px 1px;
}

@media (max-width: 1199px) {
  .u-section-11 .u-sheet-1 {
    min-height: 529px;
  }

  .u-section-11 .u-text-1 {
    margin-right: 132px;
    margin-left: 162px;
  }

  .u-section-11 .u-text-2 {
    margin-right: 162px;
    margin-left: 132px;
  }

  .u-section-11 .u-btn-1 {
    margin-top: 71px;
    margin-left: 45px;
  }

  .u-section-11 .u-btn-2 {
    margin-top: -98px;
  }

  .u-section-11 .u-btn-3 {
    margin-top: -98px;
    margin-right: 44px;
    margin-left: auto;
  }

  .u-section-11 .u-btn-4 {
    margin-top: 17px;
    margin-left: 45px;
  }

  .u-section-11 .u-btn-5 {
    margin-top: -96px;
  }

  .u-section-11 .u-btn-6 {
    margin-top: -99px;
    margin-right: 43px;
    margin-left: auto;
    padding: 1px 31px 2px 29px;
  }
}

@media (max-width: 991px) {
  .u-section-11 .u-text-1 {
    margin-right: 22px;
    margin-left: 52px;
  }

  .u-section-11 .u-text-2 {
    margin-right: 52px;
    margin-left: 22px;
  }

  .u-section-11 .u-btn-1 {
    margin-top: 69px;
    margin-left: 0;
    padding-top: 20px;
    padding-bottom: 22px;
  }

  .u-section-11 .u-btn-2 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-11 .u-btn-3 {
    margin-right: 0;
    padding: 1px 0;
  }

  .u-section-11 .u-btn-4 {
    margin-top: 16px;
    margin-left: 0;
    padding-top: 20px;
  }

  .u-section-11 .u-btn-5 {
    margin-top: -99px;
    padding-top: 20px;
  }

  .u-section-11 .u-btn-6 {
    margin-right: 0;
    padding-top: 0;
    padding-right: 23px;
    padding-left: 23px;
  }
}

@media (max-width: 767px) {
  .u-section-11 .u-sheet-1 {
    min-height: 480px;
  }

  .u-section-11 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-11 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-11 .u-btn-1 {
    margin-top: 71px;
    padding: 10px 37px 12px 35px;
  }

  .u-section-11 .u-btn-2 {
    margin-top: -79px;
    padding: 10px 19px 11px;
  }

  .u-section-11 .u-btn-3 {
    font-size: 1.5rem;
    margin-top: -79px;
    padding-bottom: 3px;
  }

  .u-section-11 .u-btn-4 {
    margin-top: 15px;
    padding: 10px 36px 11px 34px;
  }

  .u-section-11 .u-btn-5 {
    font-size: 1.5rem;
    margin-top: -78px;
    padding: 19px 2px 20px 0;
  }

  .u-section-11 .u-btn-6 {
    font-size: 1.5rem;
    margin-top: -78px;
    margin-right: 1px;
    margin-bottom: 58px;
    padding-right: 18px;
    padding-bottom: 1px;
    padding-left: 18px;
  }
}

@media (max-width: 575px) {
  .u-section-11 .u-sheet-1 {
    min-height: 897px;
  }

  .u-section-11 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-11 .u-btn-1 {
    margin-top: 50px;
    margin-left: auto;
  }

  .u-section-11 .u-btn-2 {
    margin-top: 20px;
    padding-right: 39px;
    padding-left: 38px;
  }

  .u-section-11 .u-btn-3 {
    margin-top: 27px;
    margin-right: auto;
  }

  .u-section-11 .u-btn-4 {
    margin-left: auto;
  }

  .u-section-11 .u-btn-5 {
    margin-top: 20px;
    padding-right: 22px;
    padding-left: 20px;
  }

  .u-section-11 .u-btn-6 {
    margin-top: 27px;
    margin-right: auto;
    margin-bottom: 60px;
  }
}