 .u-section-1 {
  background-image: linear-gradient(#e85b3f, white);
}

.u-section-1 .u-sheet-1 {
  min-height: 330px;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  width: 721px;
  margin: 25px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.875rem;
  margin: 67px 30px 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-2 {
    width: 652px;
    margin-top: 69px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    width: 540px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 351px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    width: auto;
    margin-top: 99px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 60px;
    margin-left: 0;
    margin-right: 0;
  }
} .u-section-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url('images/2e0dd110d30fcb5ff9f9c518d5606b9dced5e11eaa3ac3049ab86a79906363f1d5e82ac0aee15d57184c9a649b29aa759c763ff14d83a91dc04dbd_1280.jpg');
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 605px;
}

.u-section-2 .u-text-1 {
  font-size: 1.875rem;
  width: 826px;
  margin: 127px auto 0;
}

.u-section-2 .u-text-2 {
  margin: 84px 0 60px 723px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 499px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 523px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 382px;
  }

  .u-section-2 .u-text-1 {
    width: 720px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 303px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 287px;
  }

  .u-section-2 .u-text-1 {
    width: 540px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 123px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 181px;
  }

  .u-section-2 .u-text-1 {
    width: 340px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 776px;
}

.u-section-3 .u-slider-1 {
  min-height: 701px;
  width: 971px;
  height: auto;
  margin: 26px auto 49px;
}

.u-section-3 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-3 .u-container-layout-1 {
  padding: 0;
}

.u-section-3 .u-image-1 {
  width: 85px;
  height: 125px;
  margin: 30px auto 0 94px;
}

.u-section-3 .u-text-1 {
  margin: -144px 822px 0 -109px;
}

.u-section-3 .u-image-2 {
  width: 85px;
  height: 125px;
  margin: -5px 94px 0 auto;
}

.u-section-3 .u-image-3 {
  width: 85px;
  height: 125px;
  margin: -125px auto 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.25rem;
  margin: 107px 85px 0 77px;
}

.u-section-3 .u-image-4 {
  width: 140px;
  height: 98px;
  margin: 121px auto 0 412px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-3 .u-text-3 {
  margin: 0 859px 0 -59px;
}

.u-section-3 .u-image-5 {
  width: 82px;
  height: 129px;
  margin: -6px auto 0 112px;
}

.u-section-3 .u-image-6 {
  width: 82px;
  height: 129px;
  margin: -129px auto 0;
}

.u-section-3 .u-image-7 {
  width: 82px;
  height: 129px;
  margin: -129px 112px 0 auto;
}

.u-section-3 .u-text-4 {
  font-size: 1.25rem;
  margin: 76px 81px 0;
}

.u-section-3 .u-image-8 {
  width: 143px;
  height: 106px;
  margin: 69px auto 0;
}

.u-section-3 .u-container-layout-3 {
  padding: 16px 0;
}

.u-section-3 .u-text-5 {
  margin: 15px 796px 0 -124px;
}

.u-section-3 .u-image-9 {
  width: 85px;
  height: 125px;
  margin: 3px auto 0 131px;
}

.u-section-3 .u-image-10 {
  width: 85px;
  height: 125px;
  margin: -125px auto 0;
}

.u-section-3 .u-image-11 {
  width: 85px;
  height: 125px;
  margin: -125px 97px 0 auto;
}

.u-section-3 .u-text-6 {
  font-size: 1.25rem;
  margin: 74px 50px 0;
}

.u-section-3 .u-image-12 {
  width: 140px;
  height: 98px;
  margin: 15px auto 0;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px 0;
}

.u-section-3 .u-text-7 {
  margin: 13px 688px 0 13px;
}

.u-section-3 .u-image-13 {
  width: 82px;
  height: 129px;
  margin: -5px auto 0 112px;
}

.u-section-3 .u-image-14 {
  width: 82px;
  height: 129px;
  margin: -129px auto 0;
}

.u-section-3 .u-image-15 {
  width: 82px;
  height: 129px;
  margin: -129px 124px 0 auto;
}

.u-section-3 .u-text-8 {
  font-size: 1.25rem;
  margin: 62px 68px 0;
}

.u-section-3 .u-image-16 {
  width: 143px;
  height: 106px;
  margin: 62px auto 0;
}

.u-section-3 .u-container-layout-5 {
  padding: 0 50px;
}

.u-section-3 .u-text-9 {
  margin: 30px 654px 0 0;
}

.u-section-3 .u-image-17 {
  width: 85px;
  height: 125px;
  margin: -22px auto 0 85px;
}

.u-section-3 .u-image-18 {
  width: 85px;
  height: 125px;
  margin: -125px auto 0;
}

.u-section-3 .u-image-19 {
  width: 85px;
  height: 125px;
  margin: -117px 93px 0 auto;
}

.u-section-3 .u-text-10 {
  font-size: 1.25rem;
  margin: 56px 41px 0;
}

.u-section-3 .u-image-20 {
  width: 140px;
  height: 98px;
  margin: 42px auto 0;
}

.u-section-3 .u-carousel-control-1 {
  width: 43px;
  height: 43px;
  background-image: none;
}

.u-section-3 .u-carousel-control-2 {
  width: 43px;
  height: 43px;
  background-image: none;
  left: auto;
  position: absolute;
  right: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-slider-1 {
    width: 940px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 722px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-left: 58px;
    margin-right: 58px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 759px;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-left: 58px;
    margin-right: 58px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 696px;
  }

  .u-section-3 .u-text-6 {
    width: auto;
    margin-left: 49px;
    margin-right: 49px;
  }

  .u-section-3 .u-text-7 {
    width: auto;
    margin-top: 8px;
    margin-right: 475px;
    margin-left: 26px;
  }

  .u-section-3 .u-image-13 {
    margin-top: 0;
  }

  .u-section-3 .u-text-8 {
    width: auto;
    margin-right: 56px;
    margin-left: 49px;
  }

  .u-section-3 .u-text-9 {
    margin-right: 454px;
  }

  .u-section-3 .u-image-18 {
    margin-top: -124px;
    margin-left: 350px;
  }

  .u-section-3 .u-image-19 {
    margin-top: -125px;
    margin-right: 99px;
  }

  .u-section-3 .u-text-10 {
    width: auto;
    margin-top: 99px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-image-20 {
    margin-top: 57px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 826px;
  }

  .u-section-3 .u-slider-1 {
    min-height: 762px;
    margin-bottom: 38px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 34px;
    padding-right: 34px;
  }

  .u-section-3 .u-image-1 {
    margin-left: 125px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: -140px;
    margin-right: 565px;
    margin-left: 0;
  }

  .u-section-3 .u-image-2 {
    margin-top: -9px;
    margin-right: 125px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 31px;
    margin-right: 31px;
  }

  .u-section-3 .u-image-4 {
    margin-top: 49px;
    margin-left: auto;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 65px;
    padding-right: 65px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-right: 570px;
    margin-left: 20px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-5 {
    width: auto;
    margin-right: 554px;
    margin-left: -92px;
  }

  .u-section-3 .u-text-7 {
    margin-right: 257px;
    margin-left: 24px;
  }

  .u-section-3 .u-text-8 {
    margin-right: 49px;
    margin-left: 56px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-text-9 {
    margin-right: 274px;
  }

  .u-section-3 .u-image-18 {
    margin-top: -125px;
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-3 .u-image-1 {
    margin-top: 27px;
    margin-right: 213px;
    margin-left: auto;
  }

  .u-section-3 .u-text-1 {
    margin-top: -137px;
    margin-right: 582px;
    margin-left: 60px;
  }

  .u-section-3 .u-image-2 {
    margin-top: -14px;
    margin-right: 68px;
  }

  .u-section-3 .u-image-3 {
    margin-left: 98px;
  }

  .u-section-3 .u-text-2 {
    width: 420px;
    margin-top: 126px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-image-4 {
    margin-top: 59px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 559px;
    margin-left: 0;
  }

  .u-section-3 .u-text-5 {
    margin-top: 12px;
    margin-right: 409px;
    margin-left: -37px;
  }

  .u-section-3 .u-image-9 {
    margin-top: 7px;
  }

  .u-section-3 .u-text-6 {
    margin-right: 52px;
    margin-left: 45px;
  }

  .u-section-3 .u-text-7 {
    margin-top: 9px;
    margin-right: 75px;
    margin-left: 26px;
  }

  .u-section-3 .u-text-8 {
    margin-right: 38px;
    margin-left: 48px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-9 {
    margin-right: 134px;
  }

  .u-section-3 .u-text-10 {
    margin-right: 26px;
    margin-left: 38px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 932px;
  }

  .u-section-3 .u-slider-1 {
    min-height: 868px;
    margin-top: 32px;
    margin-bottom: 32px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-1 {
    margin-right: 442px;
    margin-left: 0;
  }

  .u-section-3 .u-image-2 {
    margin-right: 30px;
  }

  .u-section-3 .u-image-3 {
    margin-left: auto;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.125rem;
    width: auto;
    margin-right: 49px;
    margin-left: 58px;
  }

  .u-section-3 .u-image-4 {
    margin-top: 32px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-3 .u-text-3 {
    margin-right: 459px;
  }

  .u-section-3 .u-image-6 {
    margin-left: 20px;
  }

  .u-section-3 .u-image-7 {
    margin-right: 32px;
  }

  .u-section-3 .u-text-4 {
    font-size: 1.125rem;
    width: 244px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-5 {
    margin-right: 289px;
    margin-left: -17px;
  }

  .u-section-3 .u-image-10 {
    margin-left: 34px;
  }

  .u-section-3 .u-image-11 {
    margin-right: 15px;
  }

  .u-section-3 .u-text-6 {
    margin-right: 37px;
    margin-left: 44px;
  }

  .u-section-3 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-image-14 {
    margin-left: 21px;
  }

  .u-section-3 .u-image-15 {
    margin-right: 32px;
  }

  .u-section-3 .u-text-8 {
    margin-right: 43px;
    margin-left: 35px;
  }

  .u-section-3 .u-text-9 {
    margin-right: 0;
  }

  .u-section-3 .u-image-17 {
    margin-top: -26px;
    margin-left: 34px;
  }

  .u-section-3 .u-image-18 {
    margin-top: -121px;
    margin-right: 101px;
  }

  .u-section-3 .u-image-19 {
    margin-right: 8px;
  }

  .u-section-3 .u-text-10 {
    margin-left: 22px;
    margin-right: 22px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 1297px;
}

.u-section-4 .u-text-1 {
  width: 793px;
  font-size: 3rem;
  margin: 133px auto 0;
}

.u-section-4 .u-gallery-1 {
  width: 858px;
  height: 625px;
  grid-gap: 10px;
  margin: 71px auto 0 128px;
}

.u-section-4 .u-carousel-indicators-1 {
  position: absolute;
  width: auto;
  height: auto;
  top: auto;
  bottom: -32px;
}

.u-section-4 .u-back-image-1 {
  object-position: 61.54% 49.02%;
}

.u-section-4 .u-over-slide-1 {
  min-height: 100px;
  width: 689px;
  height: 120px;
  padding: 10px;
}

.u-section-4 .u-carousel-item-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-back-image-2 {
  object-position: 50.09% 50%;
}

.u-section-4 .u-over-slide-2 {
  min-height: 100px;
  width: 689px;
  height: 120px;
  padding: 10px;
}

.u-section-4 .u-carousel-item-3 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-back-image-3 {
  object-position: 41.92% 50%;
}

.u-section-4 .u-over-slide-3 {
  min-height: 100px;
  width: 689px;
  height: 120px;
  padding: 10px;
}

.u-section-4 .u-carousel-item-4 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-back-image-4 {
  object-position: 67.6% 12.64%;
}

.u-section-4 .u-over-slide-4 {
  min-height: 100px;
  width: 689px;
  height: 120px;
  padding: 10px;
}

.u-section-4 .u-carousel-item-5 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-back-image-5 {
  object-position: 53.36% 50%;
}

.u-section-4 .u-over-slide-5 {
  min-height: 100px;
  width: 689px;
  height: 120px;
  padding: 10px;
}

.u-section-4 .u-carousel-item-6 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-back-image-6 {
  object-position: 22.66% 50%;
}

.u-section-4 .u-over-slide-6 {
  min-height: 100px;
  width: 689px;
  height: 120px;
  padding: 10px;
}

.u-section-4 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-4 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-4 .u-shape-1 {
  width: 366px;
  height: 531px;
  margin: -882px auto 0 46px;
}

.u-section-4 .u-shape-2 {
  width: 366px;
  height: 531px;
  transform-origin: center center;
  background-image: none;
  transform: scaleX(-1);
  margin: -531px 53px 0 auto;
}

.u-section-4 .u-shape-3 {
  width: 366px;
  height: 531px;
  transform-origin: center center;
  transform: scaleY(-1);
  margin: 53px auto 0 46px;
}

.u-section-4 .u-shape-4 {
  width: 366px;
  height: 531px;
  transform-origin: center center;
  transform: scaleX(-1) scaleY(-1);
  margin: -531px 53px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-4 .u-gallery-1 {
    width: 776px;
    height: 619px;
    margin-left: auto;
  }

  .u-section-4 .u-shape-1 {
    margin-top: -876px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    width: 720px;
  }

  .u-section-4 .u-gallery-1 {
    width: 596px;
    height: 593px;
  }

  .u-section-4 .u-shape-1 {
    margin-top: -849px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1334px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 185px;
    margin-left: 48px;
    margin-right: 48px;
  }

  .u-section-4 .u-gallery-1 {
    width: 417px;
    height: 574px;
    margin-top: 84px;
  }

  .u-section-4 .u-over-slide-1 {
    width: 540px;
  }

  .u-section-4 .u-over-slide-2 {
    width: 540px;
  }

  .u-section-4 .u-over-slide-3 {
    width: 540px;
  }

  .u-section-4 .u-over-slide-4 {
    width: 540px;
  }

  .u-section-4 .u-over-slide-5 {
    width: 540px;
  }

  .u-section-4 .u-over-slide-6 {
    width: 540px;
  }

  .u-section-4 .u-shape-1 {
    margin-top: -896px;
  }

  .u-section-4 .u-shape-2 {
    margin-right: 48px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    font-size: 1.5rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-gallery-1 {
    margin-top: 143px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-carousel-indicators-1 {
    bottom: -29px;
  }

  .u-section-4 .u-over-slide-1 {
    width: 340px;
  }

  .u-section-4 .u-over-slide-2 {
    width: 340px;
  }

  .u-section-4 .u-over-slide-3 {
    width: 340px;
  }

  .u-section-4 .u-over-slide-4 {
    width: 340px;
  }

  .u-section-4 .u-over-slide-5 {
    width: 340px;
  }

  .u-section-4 .u-over-slide-6 {
    width: 340px;
  }

  .u-section-4 .u-shape-1 {
    margin-top: -809px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-shape-2 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-shape-3 {
    width: 340px;
    margin-top: -93px;
    margin-left: 0;
  }

  .u-section-4 .u-shape-4 {
    width: 340px;
    margin-right: 0;
  }
} .u-section-5 {
  background-image: none;
  background-position: 50% 50%;
}

.u-section-5 .u-sheet-1 {
  min-height: 905px;
}

.u-section-5 .u-text-1 {
  line-height: 1.8;
  font-size: 1.25rem;
  margin: 60px 64px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-1 {
    width: auto;
    margin: 58px 34px 19px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 2129px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 38px;
    margin-bottom: 39px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 1087px;
}

.u-section-6 .u-text-1 {
  margin: 37px auto 0;
}

.u-section-6 .u-text-2 {
  line-height: 1.8;
  font-size: 1.25rem;
  width: 680px;
  margin: 37px auto 0;
}

.u-section-6 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  width: 708px;
  margin: 49px auto 60px;
}

.u-section-6 .u-repeater-1 {
  grid-template-columns: repeat(2, 50%);
  min-height: 700px;
  grid-gap: 0px;
}

.u-section-6 .u-container-layout-1 {
  padding: 0;
}

.u-section-6 .u-image-1 {
  height: 362px;
  width: 335px;
  margin: 30px auto 0;
}

.u-section-6 .u-text-3 {
  margin: 13px auto 0;
}

.u-section-6 .u-text-4 {
  margin: 30px 23px 0 37px;
}

.u-section-6 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: solid;
  text-transform: uppercase;
  margin: 17px auto 0;
  padding: 2px 0;
}

.u-section-6 .u-icon-1 {
  font-size: 2.8572em;
}

.u-section-6 .u-container-layout-2 {
  padding: 0;
}

.u-section-6 .u-image-2 {
  height: 362px;
  width: 335px;
  object-position: 33.32% 50%;
  margin: 30px auto 0;
}

.u-section-6 .u-text-5 {
  margin: 13px auto 0;
}

.u-section-6 .u-text-6 {
  margin: 30px 23px 0 37px;
}

.u-section-6 .u-btn-2 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: solid;
  text-transform: uppercase;
  margin: 17px auto 0;
  padding: 2px 0;
}

.u-section-6 .u-icon-2 {
  font-size: 2.8572em;
}

@media (max-width: 991px) {
  .u-section-6 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-text-2 {
    width: 540px;
  }

  .u-section-6 .u-list-1 {
    width: 540px;
  }

  .u-section-6 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-6 .u-text-6 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-text-2 {
    width: 340px;
  }

  .u-section-6 .u-list-1 {
    width: 340px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 887px;
}

.u-section-7 .u-text-1 {
  line-height: 1.8;
  font-size: 1.25rem;
  width: 680px;
  margin: 60px auto 0;
}

.u-section-7 .u-video-1 {
  width: 981px;
  height: 592px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 61px auto 60px;
}

.u-section-7 .embed-responsive-1 {
  position: absolute;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 862px;
  }

  .u-section-7 .u-video-1 {
    width: 940px;
    height: 567px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 729px;
  }

  .u-section-7 .u-video-1 {
    width: 720px;
    height: 434px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 621px;
  }

  .u-section-7 .u-text-1 {
    width: 540px;
  }

  .u-section-7 .u-video-1 {
    width: 540px;
    height: 326px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 500px;
  }

  .u-section-7 .u-text-1 {
    width: 340px;
  }

  .u-section-7 .u-video-1 {
    width: 340px;
    height: 205px;
  }
}.u-block-8fa9-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-8fa9-3 {
  position: absolute;
  left: 0;
}

.u-block-8fa9-4 {
  position: absolute;
  right: 0;
}

 .u-section-8-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.65), rgba(0,0,0,0.65)), url('images/c931e8d19359cae11e788bb03f4ba1edb20df04d44340886dd3d19070b08d9a9fd0d196744f2b571f482110f481c692cdc442eb5d9f2e2ce5ebdc6_1280.jpg');
  background-position: 50% 50%;
}

.u-section-8-1 .u-sheet-1 {
  min-height: 822px;
}

.u-section-8-1 .u-text-1 {
  font-size: 4.5rem;
  margin: 271px 55px 0 108px;
}

.u-section-8-1 .u-text-2 {
  margin: 268px -283px 23px 446px;
}

@media (max-width: 1199px) {
  .u-section-8-1 .u-sheet-1 {
    min-height: 678px;
  }

  .u-section-8-1 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-8-1 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-8-1 .u-sheet-1 {
    min-height: 519px;
  }
}

@media (max-width: 767px) {
  .u-section-8-1 .u-sheet-1 {
    min-height: 389px;
  }

  .u-section-8-1 .u-text-1 {
    font-size: 3.75rem;
  }
}

@media (max-width: 575px) {
  .u-section-8-1 .u-sheet-1 {
    min-height: 245px;
  }

  .u-section-8-1 .u-text-1 {
    font-size: 3rem;
  }
}

 .u-section-8-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url('images/CapturadePantalla2023-11-21alas11.26.51p.m..png');
  background-position: 50% 50%;
}

.u-section-8-2 .u-sheet-1 {
  min-height: 822px;
}

.u-section-8-2 .u-text-1 {
  font-size: 2.25rem;
  margin: 60px 44px;
}

@media (max-width: 1199px) {
  .u-section-8-2 .u-sheet-1 {
    min-height: 678px;
  }

  .u-section-8-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-8-2 .u-sheet-1 {
    min-height: 519px;
  }
}

@media (max-width: 767px) {
  .u-section-8-2 .u-sheet-1 {
    min-height: 389px;
  }
}

@media (max-width: 575px) {
  .u-section-8-2 .u-sheet-1 {
    min-height: 245px;
  }
}

 .u-section-8-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url('images/CapturadePantalla2023-11-27alas11.00.52p.m..png');
  background-position: 50% 50%;
}

.u-section-8-3 .u-sheet-1 {
  min-height: 822px;
}

.u-section-8-3 .u-text-1 {
  font-size: 2.25rem;
  margin: 60px 63px 60px 93px;
}

@media (max-width: 1199px) {
  .u-section-8-3 .u-sheet-1 {
    min-height: 678px;
  }

  .u-section-8-3 .u-text-1 {
    width: auto;
    margin-top: 259px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-8-3 .u-sheet-1 {
    min-height: 519px;
  }
}

@media (max-width: 767px) {
  .u-section-8-3 .u-sheet-1 {
    min-height: 389px;
  }
}

@media (max-width: 575px) {
  .u-section-8-3 .u-sheet-1 {
    min-height: 245px;
  }
}

 .u-section-8-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url('images/932007d5625e62ce192c81bfc9c2cfd0c7a6c23660b327c8c0a0dd94bf08bbe5027c93790ec7f2f206afdacc694a4cef21db43bfca12e57db0b802_1280.jpg');
  background-position: 50% 50%;
}

.u-section-8-4 .u-sheet-1 {
  min-height: 822px;
}

.u-section-8-4 .u-text-1 {
  font-size: 2.25rem;
  margin: 312px 44px 0;
}

.u-section-8-4 .u-text-2 {
  margin: 253px -332px 37px 420px;
}

@media (max-width: 1199px) {
  .u-section-8-4 .u-text-1 {
    width: auto;
    margin-top: 304px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-8-4 .u-text-2 {
    margin-top: 261px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-8-4 .u-sheet-1 {
    min-height: 630px;
  }
}

@media (max-width: 767px) {
  .u-section-8-4 .u-sheet-1 {
    min-height: 473px;
  }
}

@media (max-width: 575px) {
  .u-section-8-4 .u-sheet-1 {
    min-height: 298px;
  }
}

 .u-section-8-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url('images/bb638f5c8a2ccf854e2288b33c700390de0c8c747212afe46372bb3f8406d2b38c73b1b3819428a37a281dad83af3d34de437434c65c3969bc7703_1280.jpg');
  background-position: 50% 50%;
}

.u-section-8-5 .u-sheet-1 {
  min-height: 822px;
}

.u-section-8-5 .u-text-1 {
  font-size: 2.25rem;
  margin: 332px 44px 0;
}

.u-section-8-5 .u-text-2 {
  margin: 274px -328px 35px 416px;
}

@media (max-width: 1199px) {
  .u-section-8-5 .u-sheet-1 {
    min-height: 678px;
  }

  .u-section-8-5 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-8-5 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-8-5 .u-sheet-1 {
    min-height: 519px;
  }
}

@media (max-width: 767px) {
  .u-section-8-5 .u-sheet-1 {
    min-height: 389px;
  }
}

@media (max-width: 575px) {
  .u-section-8-5 .u-sheet-1 {
    min-height: 245px;
  }
}.u-section-9 .u-sheet-1 {
  min-height: 592px;
}

.u-section-9 .u-text-1 {
  margin: 42px auto 0;
}

.u-section-9 .u-text-2 {
  line-height: 1.8;
  font-size: 1.25rem;
  width: 820px;
  margin: 42px auto 60px;
}

@media (max-width: 991px) {
  .u-section-9 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-text-2 {
    width: 340px;
  }
} .u-section-10 {
  background-image: none;
}

.u-section-10 .u-sheet-1 {
  min-height: 530px;
}

.u-section-10 .u-text-1 {
  font-size: 3rem;
  margin: 40px 232px 0 262px;
}

.u-section-10 .u-text-2 {
  margin: 20px 262px 0 232px;
}

.u-section-10 .u-btn-1 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  font-size: 2.25rem;
  background-image: none;
  margin: 66px auto 0 139px;
  padding: 19px 65px 21px 64px;
}

.u-section-10 .u-btn-2 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 2.25rem;
  font-weight: 700;
  background-image: none;
  margin: -97px auto 0;
  padding: 19px 68px 21px 67px;
}

.u-section-10 .u-btn-3 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  font-size: 1.875rem;
  background-image: none;
  margin: -96px auto 0 750px;
  padding: 0 7px;
}

.u-section-10 .u-btn-4 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 2.25rem;
  font-weight: 700;
  background-image: none;
  margin: 25px auto 0 139px;
  padding: 19px 64px 21px 63px;
}

.u-section-10 .u-btn-5 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 2.25rem;
  font-weight: 700;
  background-image: none;
  margin: -97px auto 0;
  padding: 19px 15px 21px;
}

.u-section-10 .u-btn-6 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  font-size: 1.875rem;
  background-image: none;
  margin: -97px auto 60px 750px;
  padding: 0 30px 1px;
}

@media (max-width: 1199px) {
  .u-section-10 .u-sheet-1 {
    min-height: 560px;
  }

  .u-section-10 .u-text-1 {
    margin-right: 132px;
    margin-left: 162px;
  }

  .u-section-10 .u-text-2 {
    margin-right: 162px;
    margin-left: 132px;
  }

  .u-section-10 .u-btn-1 {
    margin-top: 67px;
    margin-left: 39px;
  }

  .u-section-10 .u-btn-3 {
    margin-right: 38px;
    margin-left: auto;
  }

  .u-section-10 .u-btn-4 {
    margin-top: 38px;
    margin-left: 40px;
  }

  .u-section-10 .u-btn-5 {
    margin-top: -105px;
  }

  .u-section-10 .u-btn-6 {
    margin-top: -90px;
    margin-right: 38px;
    margin-left: auto;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-text-1 {
    margin-right: 22px;
    margin-left: 52px;
  }

  .u-section-10 .u-text-2 {
    margin-right: 52px;
    margin-left: 22px;
  }

  .u-section-10 .u-btn-1 {
    margin-top: 69px;
    margin-left: 0;
    padding-top: 18px;
    padding-bottom: 20px;
  }

  .u-section-10 .u-btn-2 {
    margin-top: -95px;
    padding-bottom: 19px;
  }

  .u-section-10 .u-btn-3 {
    margin-top: -95px;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-10 .u-btn-4 {
    margin-top: 31px;
    margin-left: 0;
  }

  .u-section-10 .u-btn-5 {
    margin-top: -98px;
  }

  .u-section-10 .u-btn-6 {
    margin-top: -97px;
    margin-right: 0;
    padding-right: 22px;
    padding-left: 21px;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-sheet-1 {
    min-height: 452px;
  }

  .u-section-10 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-10 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-10 .u-btn-1 {
    font-size: 1.5rem;
    margin-top: 40px;
    padding: 19px 48px 21px 46px;
  }

  .u-section-10 .u-btn-2 {
    font-size: 1.5rem;
    margin-top: -78px;
    margin-left: 177px;
    padding-right: 47px;
    padding-bottom: 20px;
    padding-left: 45px;
  }

  .u-section-10 .u-btn-3 {
    font-size: 1.5rem;
    margin-top: -77px;
  }

  .u-section-10 .u-btn-4 {
    font-size: 1.5rem;
    margin-top: 21px;
    padding-right: 47px;
    padding-left: 45px;
  }

  .u-section-10 .u-btn-5 {
    font-size: 1.5rem;
    margin-top: -78px;
    margin-left: 177px;
    padding-right: 9px;
    padding-left: 8px;
  }

  .u-section-10 .u-btn-6 {
    font-size: 1.5rem;
    margin-top: -78px;
    margin-bottom: 59px;
    padding-right: 21px;
    padding-left: 19px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-sheet-1 {
    min-height: 863px;
  }

  .u-section-10 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-10 .u-btn-1 {
    margin-top: 29px;
    margin-left: auto;
    padding-right: 56px;
    padding-bottom: 20px;
    padding-left: 54px;
  }

  .u-section-10 .u-btn-2 {
    margin-top: 20px;
    margin-left: auto;
    padding-right: 57px;
    padding-bottom: 19px;
    padding-left: 56px;
  }

  .u-section-10 .u-btn-3 {
    margin-top: 29px;
    margin-right: auto;
  }

  .u-section-10 .u-btn-4 {
    margin-top: 26px;
    margin-left: auto;
    padding-right: 54px;
    padding-left: 54px;
  }

  .u-section-10 .u-btn-5 {
    margin-top: 27px;
    margin-left: auto;
    padding-right: 21px;
    padding-left: 21px;
  }

  .u-section-10 .u-btn-6 {
    margin-top: 29px;
    margin-right: auto;
    margin-bottom: 49px;
  }
}