 .u-section-1 {
  background-image: linear-gradient(#19ffbf, white);
}

.u-section-1 .u-sheet-1 {
  min-height: 278px;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  width: 341px;
  margin: 33px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.875rem;
  width: 652px;
  margin: 41px auto 33px;
}

@media (max-width: 767px) {
  .u-section-1 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 997px;
}

.u-section-2 .u-slider-1 {
  min-height: 819px;
  width: 1041px;
  height: auto;
  margin: 25px 44px 60px auto;
}

.u-section-2 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-2 .u-text-1 {
  margin: 13px 846px 0 -133px;
}

.u-section-2 .u-image-1 {
  width: 85px;
  height: 125px;
  margin: 42px 94px 0 auto;
}

.u-section-2 .u-image-2 {
  width: 85px;
  height: 125px;
  margin: -111px auto 0;
}

.u-section-2 .u-image-3 {
  width: 85px;
  height: 125px;
  margin: -125px auto 0 94px;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  margin: 94px 80px 0;
}

.u-section-2 .u-image-4 {
  width: 140px;
  height: 98px;
  margin: 141px auto 0;
}

.u-section-2 .u-text-3 {
  width: auto;
  margin: -821px 318px 0 -317px;
}

.u-section-2 .u-text-4 {
  width: auto;
  margin: -157px 293px 0 -173px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-2 .u-text-5 {
  margin: 0 1027px 0 14px;
}

.u-section-2 .u-image-5 {
  width: 82px;
  height: 129px;
  margin: 75px auto 0;
}

.u-section-2 .u-image-6 {
  width: 82px;
  height: 129px;
  margin: -122px auto 0 112px;
}

.u-section-2 .u-image-7 {
  width: 82px;
  height: 129px;
  margin: -129px auto 0 847px;
}

.u-section-2 .u-text-6 {
  font-size: 1.25rem;
  width: 817px;
  margin: 64px auto 0;
}

.u-section-2 .u-image-8 {
  width: 143px;
  height: 106px;
  margin: 115px auto 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 16px 0;
}

.u-section-2 .u-text-7 {
  margin: 15px 831px 0 -159px;
}

.u-section-2 .u-image-9 {
  width: 85px;
  height: 125px;
  margin: 44px auto 0 96px;
}

.u-section-2 .u-image-10 {
  width: 85px;
  height: 125px;
  margin: -125px auto 0 860px;
}

.u-section-2 .u-image-11 {
  width: 85px;
  height: 125px;
  margin: -125px auto 0;
}

.u-section-2 .u-text-8 {
  font-size: 1.25rem;
  margin: 116px 50px 0;
}

.u-section-2 .u-image-12 {
  width: 140px;
  height: 98px;
  margin: 109px auto 0;
}

.u-section-2 .u-text-9 {
  width: auto;
  margin: -842px 211px 0 -211px;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px 0;
}

.u-section-2 .u-text-10 {
  margin: 7px 543px 0 -443px;
}

.u-section-2 .u-image-13 {
  width: 82px;
  height: 129px;
  margin: 115px auto 0;
}

.u-section-2 .u-image-14 {
  width: 82px;
  height: 129px;
  margin: -122px auto 0 909px;
}

.u-section-2 .u-image-15 {
  width: 82px;
  height: 129px;
  margin: -129px auto 0 50px;
}

.u-section-2 .u-text-11 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 80px 50px 0;
}

.u-section-2 .u-image-16 {
  width: 143px;
  height: 106px;
  margin: 98px auto 0;
}

.u-section-2 .u-carousel-control-1 {
  width: 43px;
  height: 43px;
  background-image: none;
}

.u-section-2 .u-carousel-control-2 {
  width: 43px;
  height: 43px;
  background-image: none;
  left: auto;
  position: absolute;
  right: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-slider-1 {
    width: 940px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-1 {
    margin-right: 746px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-right: 56px;
    margin-left: 46px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 841px;
    margin-left: 0;
  }

  .u-section-2 .u-image-5 {
    margin-top: 69px;
  }

  .u-section-2 .u-image-6 {
    margin-top: -116px;
    margin-left: 62px;
  }

  .u-section-2 .u-image-7 {
    margin-left: 797px;
  }

  .u-section-2 .u-text-7 {
    margin-right: 731px;
  }

  .u-section-2 .u-image-9 {
    margin-left: 48px;
  }

  .u-section-2 .u-image-10 {
    margin-left: 807px;
  }

  .u-section-2 .u-text-8 {
    width: auto;
    margin-left: 48px;
    margin-right: 48px;
  }

  .u-section-2 .u-text-10 {
    width: auto;
    margin-top: 5px;
    margin-right: 447px;
    margin-left: -447px;
  }

  .u-section-2 .u-image-13 {
    margin-top: 50px;
    margin-left: 429px;
  }

  .u-section-2 .u-image-14 {
    margin-right: 80px;
    margin-left: auto;
  }

  .u-section-2 .u-text-11 {
    width: auto;
    margin-top: 92px;
  }

  .u-section-2 .u-image-16 {
    margin-top: 153px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-slider-1 {
    min-height: 909px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-text-1 {
    margin-top: 43px;
    margin-right: 701px;
    margin-left: -68px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 56px;
    margin-right: 159px;
  }

  .u-section-2 .u-image-2 {
    margin-top: -125px;
  }

  .u-section-2 .u-image-3 {
    margin-left: 159px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 65px;
    margin-right: 65px;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-right: 695px;
    margin-left: 25px;
  }

  .u-section-2 .u-image-5 {
    margin-top: 82px;
  }

  .u-section-2 .u-image-6 {
    margin-top: -129px;
    margin-left: 56px;
  }

  .u-section-2 .u-image-7 {
    margin-left: 582px;
  }

  .u-section-2 .u-text-6 {
    width: auto;
    margin-top: 71px;
    margin-right: 45px;
    margin-left: 56px;
  }

  .u-section-2 .u-image-8 {
    margin-top: 108px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-text-7 {
    width: auto;
    margin-top: 27px;
    margin-right: 563px;
    margin-left: -101px;
  }

  .u-section-2 .u-image-9 {
    margin-top: 48px;
  }

  .u-section-2 .u-image-10 {
    margin-left: 587px;
  }

  .u-section-2 .u-text-10 {
    margin-top: 0;
    margin-right: 336px;
    margin-left: -336px;
  }

  .u-section-2 .u-image-13 {
    margin-top: 57px;
    margin-left: auto;
  }

  .u-section-2 .u-image-14 {
    margin-top: -129px;
    margin-right: 63px;
  }

  .u-section-2 .u-text-11 {
    margin-top: 106px;
    margin-right: 37px;
  }

  .u-section-2 .u-image-16 {
    margin-top: 145px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-slider-1 {
    min-height: 972px;
    margin-bottom: 0;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-1 {
    margin-right: 606px;
    margin-left: -8px;
  }

  .u-section-2 .u-image-1 {
    margin-right: 219px;
  }

  .u-section-2 .u-image-2 {
    margin-left: 78px;
  }

  .u-section-2 .u-image-3 {
    margin-right: 85px;
    margin-left: auto;
  }

  .u-section-2 .u-text-2 {
    margin-left: 60px;
    margin-right: 60px;
  }

  .u-section-2 .u-image-4 {
    margin-top: 94px;
  }

  .u-section-2 .u-text-3 {
    margin-top: -774px;
    margin-left: 60px;
    margin-right: 60px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 501px;
    margin-left: 60px;
  }

  .u-section-2 .u-image-7 {
    margin-left: 402px;
  }

  .u-section-2 .u-text-6 {
    margin-left: 60px;
  }

  .u-section-2 .u-text-7 {
    margin-right: 473px;
  }

  .u-section-2 .u-image-10 {
    margin-left: 407px;
  }

  .u-section-2 .u-text-8 {
    margin-left: 33px;
    margin-right: 33px;
  }

  .u-section-2 .u-text-10 {
    margin-top: 7px;
    margin-right: 247px;
    margin-left: -247px;
  }

  .u-section-2 .u-image-13 {
    margin-top: 41px;
    margin-left: 235px;
  }

  .u-section-2 .u-image-14 {
    margin-right: auto;
    margin-left: 402px;
  }

  .u-section-2 .u-image-15 {
    margin-left: 56px;
  }

  .u-section-2 .u-text-11 {
    margin-top: 126px;
    margin-left: 34px;
    margin-right: 34px;
  }

  .u-section-2 .u-image-16 {
    margin-top: 140px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1397px;
  }

  .u-section-2 .u-slider-1 {
    min-height: 1289px;
    margin-bottom: 60px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 80px;
    margin-right: 348px;
  }

  .u-section-2 .u-image-2 {
    margin-left: 121px;
  }

  .u-section-2 .u-image-3 {
    margin-right: 49px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.125rem;
    width: 242px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    margin-top: -1026px;
    margin-right: 144px;
    margin-left: -144px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 241px;
    margin-left: 0;
  }

  .u-section-2 .u-image-5 {
    margin-left: 64px;
  }

  .u-section-2 .u-image-6 {
    margin-left: auto;
  }

  .u-section-2 .u-image-7 {
    margin-left: 202px;
  }

  .u-section-2 .u-text-6 {
    font-size: 1.125rem;
    width: 246px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-7 {
    margin-right: 373px;
  }

  .u-section-2 .u-image-10 {
    margin-left: 207px;
  }

  .u-section-2 .u-image-11 {
    margin-left: 122px;
  }

  .u-section-2 .u-text-8 {
    width: 244px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-9 {
    margin-top: -1207px;
    margin-right: 133px;
    margin-left: -133px;
  }

  .u-section-2 .u-text-10 {
    margin-top: 0;
    margin-right: 141px;
    margin-left: -141px;
  }

  .u-section-2 .u-image-13 {
    margin-top: 124px;
    margin-right: 37px;
    margin-left: auto;
  }

  .u-section-2 .u-image-14 {
    margin-left: auto;
  }

  .u-section-2 .u-image-15 {
    margin-left: 40px;
  }

  .u-section-2 .u-text-11 {
    width: 234px;
    margin-top: 125px;
    margin-left: auto;
    margin-right: auto;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 1221px;
}

.u-section-3 .u-text-1 {
  margin: 123px auto 0;
}

.u-section-3 .u-gallery-1 {
  width: 885px;
  height: 657px;
  grid-gap: 10px;
  margin: 126px auto 0;
}

.u-section-3 .u-carousel-indicators-1 {
  position: absolute;
  width: auto;
  height: auto;
  top: auto;
  bottom: -32px;
}

.u-section-3 .u-back-image-1 {
  object-position: 61.54% 50%;
}

.u-section-3 .u-over-slide-1 {
  min-height: 100px;
  width: 689px;
  height: 120px;
  padding: 10px;
}

.u-section-3 .u-back-image-2 {
  object-position: 82.31% 50%;
}

.u-section-3 .u-over-slide-2 {
  min-height: 100px;
  width: 689px;
  height: 120px;
  padding: 10px;
}

.u-section-3 .u-carousel-item-3 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-back-image-3 {
  object-position: 50.09% 50%;
}

.u-section-3 .u-over-slide-3 {
  min-height: 100px;
  width: 689px;
  height: 120px;
  padding: 10px;
}

.u-section-3 .u-carousel-item-4 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-back-image-4 {
  object-position: 67.6% 50%;
}

.u-section-3 .u-over-slide-4 {
  min-height: 100px;
  width: 689px;
  height: 120px;
  padding: 10px;
}

.u-section-3 .u-carousel-item-5 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-back-image-5 {
  object-position: 74% 50%;
}

.u-section-3 .u-over-slide-5 {
  min-height: 100px;
  width: 689px;
  height: 120px;
  padding: 10px;
}

.u-section-3 .u-carousel-item-6 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-back-image-6 {
  object-position: 22.66% 50%;
}

.u-section-3 .u-over-slide-6 {
  min-height: 100px;
  width: 689px;
  height: 120px;
  padding: 10px;
}

.u-section-3 .u-carousel-item-7 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-back-image-7 {
  object-position: 22.66% 50%;
}

.u-section-3 .u-over-slide-7 {
  min-height: 100px;
  width: 689px;
  height: 120px;
  padding: 10px;
}

.u-section-3 .u-carousel-item-8 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-back-image-8 {
  object-position: 100% 50%;
}

.u-section-3 .u-over-slide-8 {
  min-height: 100px;
  width: 689px;
  height: 120px;
  padding: 10px;
}

.u-section-3 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-3 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-3 .u-shape-1 {
  width: 366px;
  height: 531px;
  margin: -959px auto 0 46px;
}

.u-section-3 .u-shape-2 {
  width: 366px;
  height: 531px;
  transform-origin: center center;
  transform: scaleX(-1);
  margin: -531px 53px 0 auto;
}

.u-section-3 .u-shape-3 {
  width: 366px;
  height: 531px;
  transform-origin: center center;
  transform: scaleY(-1);
  margin: 53px auto 0 46px;
}

.u-section-3 .u-shape-4 {
  width: 366px;
  height: 531px;
  transform-origin: center center;
  transform: scaleX(-1) scaleY(-1);
  margin: -531px 53px 53px auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1222px;
  }

  .u-section-3 .u-gallery-1 {
    width: 792px;
    height: 633px;
    margin-top: 118px;
  }

  .u-section-3 .u-shape-1 {
    margin-top: -926px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-gallery-1 {
    width: 569px;
    height: 621px;
    margin-top: 121px;
  }

  .u-section-3 .u-shape-1 {
    margin-top: -918px;
  }

  .u-section-3 .u-shape-4 {
    margin-bottom: 54px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1327px;
  }

  .u-section-3 .u-text-1 {
    width: 375px;
    margin-top: 181px;
  }

  .u-section-3 .u-gallery-1 {
    width: 434px;
    height: 614px;
    margin-top: 98px;
  }

  .u-section-3 .u-back-image-1 {
    object-position: 8.75% 50%;
  }

  .u-section-3 .u-over-slide-1 {
    width: 540px;
  }

  .u-section-3 .u-over-slide-2 {
    width: 540px;
  }

  .u-section-3 .u-over-slide-3 {
    width: 540px;
  }

  .u-section-3 .u-over-slide-4 {
    width: 540px;
  }

  .u-section-3 .u-over-slide-5 {
    width: 540px;
  }

  .u-section-3 .u-over-slide-6 {
    width: 540px;
  }

  .u-section-3 .u-over-slide-7 {
    width: 540px;
  }

  .u-section-3 .u-over-slide-8 {
    width: 540px;
  }

  .u-section-3 .u-shape-1 {
    margin-top: -945px;
  }

  .u-section-3 .u-shape-4 {
    margin-bottom: 53px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 164px;
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-3 .u-gallery-1 {
    margin-top: 102px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-over-slide-1 {
    width: 340px;
  }

  .u-section-3 .u-back-image-2 {
    object-position: 62.94% 50%;
  }

  .u-section-3 .u-over-slide-2 {
    width: 340px;
  }

  .u-section-3 .u-over-slide-3 {
    width: 340px;
  }

  .u-section-3 .u-over-slide-4 {
    width: 340px;
  }

  .u-section-3 .u-back-image-5 {
    object-position: 52.85% 50%;
  }

  .u-section-3 .u-over-slide-5 {
    width: 340px;
  }

  .u-section-3 .u-over-slide-6 {
    width: 340px;
  }

  .u-section-3 .u-back-image-7 {
    object-position: 49.69% 50%;
  }

  .u-section-3 .u-over-slide-7 {
    width: 340px;
  }

  .u-section-3 .u-back-image-8 {
    object-position: 70.07% 50%;
  }

  .u-section-3 .u-over-slide-8 {
    width: 340px;
  }

  .u-section-3 .u-shape-1 {
    margin-top: -887px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-shape-2 {
    margin-top: -523px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-shape-3 {
    width: 340px;
    margin-top: -8px;
    margin-left: 0;
  }

  .u-section-3 .u-shape-4 {
    width: 340px;
    margin-right: 0;
    margin-bottom: 60px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-4 .u-text-1 {
  font-size: 1.25rem;
  margin: 62px 30px 50px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 976px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin: 49px 57px 60px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 434px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 326px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 205px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 984px;
}

.u-section-5 .u-text-1 {
  margin: 50px auto 0;
}

.u-section-5 .u-text-2 {
  line-height: 1.8;
  font-size: 1.125rem;
  width: 680px;
  margin: 41px auto 0;
}

.u-section-5 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  width: 1061px;
  margin: 64px auto 60px;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: repeat(2, 50%);
  min-height: 634px;
  grid-gap: 0px;
}

.u-section-5 .u-container-layout-1 {
  padding: 0;
}

.u-section-5 .u-image-1 {
  height: 362px;
  width: 335px;
  margin: 30px auto 0;
}

.u-section-5 .u-text-3 {
  margin: 13px auto 0;
}

.u-section-5 .u-text-4 {
  margin: 41px 13px 0 47px;
}

.u-section-5 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: solid;
  text-transform: uppercase;
  margin: 17px auto 0;
  padding: 2px 0;
}

.u-section-5 .u-icon-1 {
  font-size: 2.8572em;
}

.u-section-5 .u-container-layout-2 {
  padding: 0;
}

.u-section-5 .u-image-2 {
  height: 362px;
  width: 335px;
  margin: 30px auto 0;
}

.u-section-5 .u-text-5 {
  margin: 13px auto 0;
}

.u-section-5 .u-text-6 {
  margin: 41px 13px 0 47px;
}

.u-section-5 .u-btn-2 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: solid;
  text-transform: uppercase;
  margin: 17px auto 0;
  padding: 2px 0;
}

.u-section-5 .u-icon-2 {
  font-size: 2.8572em;
}

@media (max-width: 1199px) {
  .u-section-5 .u-list-1 {
    width: 940px;
  }

  .u-section-5 .u-repeater-1 {
    min-height: 562px;
  }

  .u-section-5 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-5 .u-text-6 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-list-1 {
    width: 720px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-2 {
    width: 540px;
  }

  .u-section-5 .u-list-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-2 {
    width: 340px;
  }

  .u-section-5 .u-list-1 {
    width: 340px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-6 .u-text-1 {
  line-height: 1.8;
  width: 680px;
  font-size: 1.25rem;
  margin: 43px auto 0;
}

.u-section-6 .u-video-1 {
  width: 884px;
  height: 580px;
  margin: 26px auto 48px;
}

.u-section-6 .embed-responsive-1 {
  position: absolute;
}

@media (max-width: 991px) {
  .u-section-6 .u-video-1 {
    width: 720px;
    height: 472px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-text-1 {
    width: auto;
    margin-top: 64px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-video-1 {
    height: 354px;
    margin-top: 95px;
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 592px;
  }

  .u-section-6 .u-video-1 {
    height: 223px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}.u-block-10a6-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-10a6-3 {
  position: absolute;
  left: 0;
}

.u-block-10a6-4 {
  position: absolute;
  right: 0;
}

 .u-section-7-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url('images/a486aa16f3abb04a2ad6170e6737174928515ec5645c377012e6aa0c7849d8b3e5d52c30a490787b9f3a40b94e044cff826ee559985d2fa4544cfd_1280.jpg');
  background-position: 50% 50%;
}

.u-section-7-1 .u-sheet-1 {
  min-height: 800px;
}

.u-section-7-1 .u-text-1 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 321px 53px 0;
}

.u-section-7-1 .u-text-2 {
  margin: 276px -391px 22px 497px;
}

@media (max-width: 1199px) {
  .u-section-7-1 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-7-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7-1 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-7-1 .u-sheet-1 {
    min-height: 506px;
  }
}

@media (max-width: 767px) {
  .u-section-7-1 .u-sheet-1 {
    min-height: 380px;
  }

  .u-section-7-1 .u-text-1 {
    font-size: 3rem;
  }
}

@media (max-width: 575px) {
  .u-section-7-1 .u-sheet-1 {
    min-height: 239px;
  }

  .u-section-7-1 .u-text-1 {
    font-size: 2.75rem;
  }
}

 .u-section-7-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url('images/42abfc86a289edc0052402169392780fc82d310aabb6805f9fb38672274e8c45a51b94de2a22612512af4cd6c668175565683c4f23f10e71a639ed_1280.jpg');
  background-position: 50% 50%;
}

.u-section-7-2 .u-sheet-1 {
  min-height: 800px;
}

.u-section-7-2 .u-text-1 {
  font-size: 2.25rem;
  margin: 301px 44px 0;
}

.u-section-7-2 .u-text-2 {
  margin: 239px -398px 40px 486px;
}

@media (max-width: 1199px) {
  .u-section-7-2 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-7-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7-2 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-7-2 .u-sheet-1 {
    min-height: 506px;
  }
}

@media (max-width: 767px) {
  .u-section-7-2 .u-sheet-1 {
    min-height: 380px;
  }
}

@media (max-width: 575px) {
  .u-section-7-2 .u-sheet-1 {
    min-height: 239px;
  }
}

 .u-section-7-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.65), rgba(0,0,0,0.65)), url('images/CapturadePantalla2023-11-27alas11.39.06p.m..png');
  background-position: 50% 50%;
}

.u-section-7-3 .u-sheet-1 {
  min-height: 800px;
}

.u-section-7-3 .u-text-1 {
  font-size: 2.25rem;
  margin: 245px 62px 60px 94px;
}

@media (max-width: 1199px) {
  .u-section-7-3 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-7-3 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-7-3 .u-sheet-1 {
    min-height: 506px;
  }
}

@media (max-width: 767px) {
  .u-section-7-3 .u-sheet-1 {
    min-height: 380px;
  }
}

@media (max-width: 575px) {
  .u-section-7-3 .u-sheet-1 {
    min-height: 239px;
  }
}

 .u-section-7-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.65), rgba(0,0,0,0.65)), url('images/CapturadePantalla2023-11-27alas11.35.50p.m..png');
  background-position: 50% 50%;
}

.u-section-7-4 .u-sheet-1 {
  min-height: 800px;
}

.u-section-7-4 .u-text-1 {
  font-size: 2.25rem;
  margin: 253px 40px 60px 48px;
}

@media (max-width: 1199px) {
  .u-section-7-4 .u-sheet-1 {
    min-height: 669px;
  }

  .u-section-7-4 .u-text-1 {
    width: auto;
    margin-top: 166px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-7-4 .u-sheet-1 {
    min-height: 512px;
  }
}

@media (max-width: 767px) {
  .u-section-7-4 .u-sheet-1 {
    min-height: 384px;
  }
}

@media (max-width: 575px) {
  .u-section-7-4 .u-sheet-1 {
    min-height: 242px;
  }
}

 .u-section-7-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.65), rgba(0,0,0,0.65)), url('images/cesar.jpg');
  background-position: 50% 50%;
}

.u-section-7-5 .u-sheet-1 {
  min-height: 801px;
}

.u-section-7-5 .u-text-1 {
  font-size: 2.25rem;
  margin: 143px 44px 0;
}

.u-section-7-5 .u-text-2 {
  margin: 69px -378px 52px 466px;
}

@media (max-width: 1199px) {
  .u-section-7-5 .u-sheet-1 {
    min-height: 1005px;
  }

  .u-section-7-5 .u-text-1 {
    width: auto;
    margin-top: 199px;
    margin-right: -9px;
    margin-left: 9px;
  }

  .u-section-7-5 .u-text-2 {
    margin-top: 138px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-7-5 .u-sheet-1 {
    min-height: 770px;
  }

  .u-section-7-5 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-7-5 .u-sheet-1 {
    min-height: 578px;
  }
}

@media (max-width: 575px) {
  .u-section-7-5 .u-sheet-1 {
    min-height: 364px;
  }
}

 .u-section-7-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url('images/08b4b68cb5bf8e62578e6dfea820f929c83abf64541ec0b16382f400e373bca907fc6417eca1d696d8c3426d3ce78de82d34d31bf52098935f818a_1280.jpg');
  background-position: 50% 50%;
}

.u-section-7-6 .u-sheet-1 {
  min-height: 800px;
}

.u-section-7-6 .u-text-1 {
  font-size: 2.25rem;
  margin: 182px 44px 0;
}

.u-section-7-6 .u-text-2 {
  margin: 110px -418px 50px 506px;
}

@media (max-width: 1199px) {
  .u-section-7-6 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-7-6 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7-6 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-7-6 .u-sheet-1 {
    min-height: 506px;
  }
}

@media (max-width: 767px) {
  .u-section-7-6 .u-sheet-1 {
    min-height: 380px;
  }
}

@media (max-width: 575px) {
  .u-section-7-6 .u-sheet-1 {
    min-height: 239px;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 826px;
}

.u-section-8 .u-text-1 {
  margin: 58px auto 0;
}

.u-section-8 .u-text-2 {
  line-height: 1.8;
  font-size: 1.25rem;
  width: 820px;
  margin: 45px auto 58px;
}

@media (max-width: 991px) {
  .u-section-8 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-text-2 {
    width: 340px;
  }
} .u-section-9 {
  background-image: none;
}

.u-section-9 .u-sheet-1 {
  min-height: 530px;
}

.u-section-9 .u-text-1 {
  font-size: 3rem;
  margin: 40px 232px 0 262px;
}

.u-section-9 .u-text-2 {
  margin: 20px 262px 0 232px;
}

.u-section-9 .u-btn-1 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  font-size: 2.25rem;
  background-image: none;
  margin: 66px auto 0 139px;
  padding: 19px 65px 21px 64px;
}

.u-section-9 .u-btn-2 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 2.25rem;
  font-weight: 700;
  background-image: none;
  margin: -97px auto 0;
  padding: 19px 68px 21px 67px;
}

.u-section-9 .u-btn-3 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  font-size: 1.875rem;
  background-image: none;
  margin: -96px auto 0 750px;
  padding: 0 7px;
}

.u-section-9 .u-btn-4 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 2.25rem;
  font-weight: 700;
  background-image: none;
  margin: 25px auto 0 139px;
  padding: 19px 64px 21px 63px;
}

.u-section-9 .u-btn-5 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 2.25rem;
  font-weight: 700;
  background-image: none;
  margin: -97px auto 0;
  padding: 19px 15px 21px;
}

.u-section-9 .u-btn-6 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  font-size: 1.875rem;
  background-image: none;
  margin: -97px auto 60px 750px;
  padding: 0 30px 1px;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 549px;
  }

  .u-section-9 .u-text-1 {
    margin-right: 132px;
    margin-left: 162px;
  }

  .u-section-9 .u-text-2 {
    margin-right: 162px;
    margin-left: 132px;
  }

  .u-section-9 .u-btn-1 {
    margin-left: 29px;
  }

  .u-section-9 .u-btn-3 {
    margin-top: -98px;
    margin-right: 39px;
    margin-left: auto;
  }

  .u-section-9 .u-btn-4 {
    margin-top: 30px;
    margin-left: 29px;
  }

  .u-section-9 .u-btn-5 {
    margin-top: -98px;
  }

  .u-section-9 .u-btn-6 {
    margin-top: -98px;
    margin-right: 39px;
    margin-left: auto;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-text-1 {
    margin-right: 22px;
    margin-left: 52px;
  }

  .u-section-9 .u-text-2 {
    margin-right: 52px;
    margin-left: 22px;
  }

  .u-section-9 .u-btn-1 {
    margin-top: 69px;
    margin-left: 0;
    padding-right: 52px;
    padding-bottom: 19px;
    padding-left: 51px;
  }

  .u-section-9 .u-btn-2 {
    margin-top: -96px;
    margin-left: 224px;
    padding-bottom: 20px;
  }

  .u-section-9 .u-btn-3 {
    margin-top: -97px;
    margin-right: -1px;
    padding-right: 5px;
    padding-bottom: 1px;
    padding-left: 4px;
  }

  .u-section-9 .u-btn-4 {
    margin-top: 32px;
    margin-left: 0;
    padding-top: 20px;
  }

  .u-section-9 .u-btn-5 {
    margin-top: -99px;
    margin-left: 224px;
    padding: 20px 19px 22px 17px;
  }

  .u-section-9 .u-btn-6 {
    margin-top: -99px;
    margin-right: 0;
    padding: 1px 28px 2px 26px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 439px;
  }

  .u-section-9 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-9 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-9 .u-btn-1 {
    font-size: 1.5rem;
    margin-top: 31px;
    padding-right: 56px;
    padding-bottom: 20px;
    padding-left: 55px;
  }

  .u-section-9 .u-btn-2 {
    font-size: 1.5rem;
    margin-top: -77px;
    margin-left: auto;
    padding-right: 37px;
    padding-left: 36px;
  }

  .u-section-9 .u-btn-3 {
    font-size: 1.5rem;
    margin-top: -77px;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-9 .u-btn-4 {
    font-size: 1.5rem;
    margin-top: 34px;
    padding: 19px 55px 20px 54px;
  }

  .u-section-9 .u-btn-5 {
    font-size: 1.5rem;
    margin-top: -77px;
    margin-left: auto;
    padding: 19px 2px 20px 1px;
  }

  .u-section-9 .u-btn-6 {
    font-size: 1.5rem;
    margin-top: -78px;
    margin-bottom: 42px;
    padding-right: 19px;
    padding-bottom: 0;
    padding-left: 18px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 854px;
  }

  .u-section-9 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-9 .u-btn-1 {
    margin-top: 32px;
    margin-left: auto;
  }

  .u-section-9 .u-btn-2 {
    margin-top: 20px;
    padding-right: 57px;
    padding-left: 57px;
  }

  .u-section-9 .u-btn-3 {
    margin-top: 20px;
    margin-right: auto;
  }

  .u-section-9 .u-btn-4 {
    margin-top: 20px;
    margin-left: auto;
  }

  .u-section-9 .u-btn-5 {
    margin-top: 20px;
    padding-right: 21px;
    padding-bottom: 22px;
    padding-left: 20px;
  }

  .u-section-9 .u-btn-6 {
    margin-top: 20px;
    margin-right: auto;
    margin-bottom: 60px;
  }
}